{% block footer %}
   <!-- Footer -->
   <footer class="page-footer font-small stylish-color-dark pt-4">
      <!-- Footer Links -->
      <div>
         <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
               <a class="mx-5" href="https://www.unige.ch" target="_blank">
               <img src="/static/images/logos/unige.png" alt="University of Geneva" height="45px" width="130px">
               </a>
            </li>
            <li class="list-inline-item">
               <a class="mx-5" href="https://www.unine.ch" target="_blank">
               <img src="/static/images/logos/unine.png" alt="University of Neuchâtel" height="45px" width="80px">
               </a>
            </li>
            <li class="list-inline-item">
               <a class="mx-5" href="https://www.ens.psl.eu/" target="_blank">
               <img src="/static/images/logos/enspsl.png" alt="École normale supérieure"
                  height="50px" width="125px">
               </a>
            </li>
            <li class="list-inline-item">
               <a class="mx-5" href="https://odhn.ens.psl.eu/" target="_blank">
               <img src="/static/images/logos/odhn.png" alt="Observatoire des Humanités numériques de l'ENS"
                  height="55px" width="130px">
               </a>
            </li>
            <li class="list-inline-item">
               <a class="mx-5" href="https://www.translitterae.psl.eu" target="_blank">
               <img src="/static/images/logos/translitterae.png" alt="Graduate program Translitterae"
                  height="45px" width="135px">
               </a>
            </li>
            <li class="list-inline-item">
               <a class="mx-5" href="http://www.snf.ch" target="_blank">
               <img src="/static/images/logos/fns.png" alt="Swiss National Science Foundation" height="45px" width="160px">
               </a>
            </li>
            <li class="list-inline-item">
               <a class="mx-5" href="https://www.inria.fr" target="_blank">
               <img src="/static/images/logos/inria.png" alt="French Institute for Research in Computer Science and Automation"
                  height="40px" width="120px">
               </a>
            </li>
            <li class="list-inline-item">
               <a class="mx-5" href="https://www.huma-num.fr/" target="_blank">
               <img src="/static/images/logos/humanum.png" alt="Huma-Num" height="50px" width="75px">
               </a>
            </li>
         </ul>
      </div>
      <hr>
       <div class="text-center">
           <p>Find us on <a class="footer" href="https://github.com/katabase">GitHub</a>,
         <a class="footer" href="https://editiones.hypotheses.org/">Hypotheses</a>
         and <a class="footer" href="https://twitter.com/e_ditiones">Twitter</a>.
       </div>
   </footer>
{% endblock %}