_minted-paulkervegan_memoire
env_memoire/*
__pycharm__/*
**/__pycharm__/*
.idea/*
**/.idea/*
env_app/*
env_3/*
**/env_app/*
**/env_3/*

## aux files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.run.xml
*.synctex.gz
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.nav
*.snm
