/* defining fonts */
@font-face {
  font-family: 'sewakadisplay';
  src: url('../fonts/SewakaDisplay-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'urlaub';
  src: url('../fonts/Urlaub-Grotesk-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* root elements */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  /*--bs-font-sans-serif: "sirius", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: 000000;
  --bs-body-bg: #fff;
  /* cutom fonts */
  --custom-font-display: "sewakadisplay", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --custom-font-general: "urlaub", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* custom colors */
  --custom-blue: #0000ef; /* hyperlink electric blue */
  --custom-pink: #ff94c9; /* hyperlink hover color */
  --custom-main1: #890c0c/*#9b0000*/; /* burgundy, primary background and font color */
  --custom-main2: #a41a6a/*#a11867*/; /* pink-ish burgundy, secondary background and font color color */
  --custom-cream: #fcf8f7;  /* main cream color */
  --custom-code-bg: #2f1e2e;
}


/* general rules: body, fonts, main container */
body {
  display: flex;
  font-family: var(--custom-font-general);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  flex-direction: column;
  color: var(--custom-main1);
  background-image: linear-gradient(0deg, var(--custom-main1), var(--custom-main2) 80%);
  background-attachment: fixed;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, a, .btn {
  font-family: var(--custom-font-display);
}

.container {
  background-color: var(--custom-cream);
  padding: 2vh;
}


/* additional rules for the body */
#corps {
  flex-grow: 1;
  margin-top: max(5vh, 100px);
  margin-bottom: max(3vh, 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* navbar */
nav {
  z-index: 1;
  position: fixed !important;
  height: 55px;
  top: 0;
  width: 100%;
  background-color: var(--custom-cream);
}

.navbar-light .navbar-brand {
  color: var(--custom-main);
}


/* footer */
footer {
  background-color: var(--custom-cream); /* #ad2b1d; */
  width:100%;
  flex-shrink: 0;
  color: var(--custom-main);
  bottom: 0;
}


/* colors and behaviour of hyperlinks, buttons, muted text colors */
a {
  color: var(--custom-blue);
}

.btn {
  background-color: var(--custom-main1);
  color: var(--custom-cream);
  border: 1px solid;
  border-color: var(--custom-light-pink);
}

a:hover {
  color: var(--custom-pink);
}

.btn:hover {
  background-color: var(--custom-pink);
}

nav a:hover {
  color: var(--custom-pink) !important;
}

a:focus a:active {
  color: var(--custom-main2) !important;
}

.btn:focus .btn:active {
  background-color: var(--custom-main2) !important;
}

.text-muted {
  color: var(--custom-main2) !important;
}

/* code blocks */
pre {
  height: 40vh;
  overflow: scroll;
  margin: 0vh 0 4vh 0;
  background-color: var(--custom-code-bg);
}

.flex-in {
  display: flex;
  flex-direction: row;
  justify-content: space between;
  align-items: center;
}

#apiUrl {
  flex-grow: 2;
  height: 4vh;
  /* width: 55vh;*/
}

#sendApi{
  /*padding: 10vh 0 10vh 3vh;*/
  margin: 3vh 0 3vh 3vh;
}


/* other elements */
button.btn {
  margin: 3%;
}

form.right{
  float: right;
}

div.results {
  margin-top: 3%;
  margin-bottom: 3%;
}

p.right-margin {
  margin-right: 2%;
}


/* index: dropdown and iframe */
iframe {
  width: 100% !important;
  height: 300px;
}

iframe.cat{
  width: 100% !important;
  height: 670px;
}

#idxfig {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#idxfig div div {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: flex-end;
  margin-bottom: 10px;
}

#fig {
  margin-bottom: 10px;
}

