{% extends "layout.html" %}
{% block title %} About us {% endblock %}
{% block corps %}
<div class="container">
    <h1>The team</h1>
    <br/>
   <div class="media container">
      <img src="../static/images/people/simon_gabay.jpg" class="align-self-start w-25 p-3" alt="Simon Gabay">
      <div class="media-body">
         <h5 class="mt-0">Dr. Simon Gabay</h5>
         <p class="text-justify">Après des études à Paris IV-Sorbonne et St Andrews, Simon Gabay part écrire sa thèse de doctorat
             en philologie latine à l'université d'Amsterdam (UvA) sur l'histoire de l'acteur au Moyen Âge.<br/>
             Pour son post-doctorat, il oriente ses recherches en philologie computationnelle dans le cadre d'un projet
             FNS sur les manuscrits de Madame de Sévigné à l'université de Neuchâtel, où il enseigne les humanités numériques.<br/>
             En 2020, il rejoint l'université de Genève auprès de la chaire de Béatrice Joyeux-Prunel comme Maître-assistant, où il dirige deux projets:
          <ul>
            <li>E-ditiones: corpus et outils pour l'étude du français classique.</li>
            <li>Katabase: base de données des manuscrits en circulation sur le marché privé.</li>
        </ul>
          Ses principaux domaines de recherche sont la philologie française moderne, l'histoire de la philologie,
          la littérature classique, le traitement automatique des langues, la reconnaissance optique de caractères.<br/>
          Ses publications accessibles gratuitement en ligne sont disponibles sur
          <a href="https://cv.archives-ouvertes.fr/simon-gabay" target="_blank">HAL</a>.
          <hr/></p>
      </div>
       <hr/>
   </div>
   <div class="media container">
      <div class="media-body">
         <h5 class="mt-0">Dr. Léa Saint-Raymond</h5>
         <p class="text-justify right-margin">
             Ancienne élève de l’École normale supérieure, agrégée de
             sciences économiques et sociales, Léa Saint-Raymond est docteure en histoire de
             l’art et directrice de <a href="https://odhn.ens.psl.eu/">l’Observatoire des humanités numériques</a>
             de l’ENS-PSL. Sa thèse, publiée sous le titre <i>À la conquête du marché de l’art.
             Le Pari(s) des enchères (1830-1939)</i>, a reçu le prix du musée d’Orsay en 2019.
             Ses recherches portent sur les ventes aux enchères et la construction de la valeur.
             Elle est coordinatrice scientifique de <a href="https://odhn.ens.psl.eu/article/mss-relire-lhistoire-du-canon-litteraire">
             MSS <i>(Manuscripts Sales Catalogues)</i></a>, le projet parent de Katabase.
         </p>
         <p class="text-justify font-italic right-margin">An École normale superieure alumni and "agrégée"
         in economics, Léa Saint-Raymond holds a PHD in art history. She is currently the director
         of the <a href="https://odhn.ens.psl.eu/">Observatoire des humanités numériques</a>
         at the École normale supérieure. Her thesis, published under the title "À la conquête du marché de
         l’art. Le Pari(s) des enchères (1830-1939)" (in English, "The battle for the art market:
         auction sales in Paris (1830-1939)"), received the musée d'Orsay award in 2019.
         Her research focuses on auction markets and the construction of value. She is
         the scientific coordinator of <a href="https://odhn.ens.psl.eu/article/mss-relire-lhistoire-du-canon-litteraire">
         MSS (Manuscripts Sales Catalogues)</a>, the parent projet of Katabase.<hr/></p>
      </div>
      <img src="../static/images/people/lea_saint_raymond.png" class="align-self-start w-25 mr-3" alt="Léa Saint-Raymond">
   </div>
   <div class="media container">
       <img src="../static/images/people/lucie_rondeau.png" class="align-self-start w-25 mr-3" alt="Lucie Rondeau du Noyer">
       <div class="media-body">
          <h5 class="mt-0">Lucie Rondeau du Noyer</h5>
          <p class="text-justify">Ancienne élève de l’École normale supérieure et agrégée d’histoire, diplômée de l’université Paris 1 Panthéon-Sorbonne
             (histoire économique) et de l’École nationale des chartes (technologies numériques appliquées à l’histoire).
             Elle est actuellement professeure d’histoire-géographie au College Aimé et Eugénie Cotton (Le Blanc-Mesnil).
             Ses travaux portent sur l’évolution des régimes douaniers français à la fin de l’époque moderne et sur
             l’émergence d’un marché parisien de l’autographe au xixe siècle.
         </p>
          <p class="text-justify font-italic">
              Lucie Rondeau du Noyer graduated in history from Université Paris 1 Panthéon Sorbonne and École Normale
              Supérieure de Paris. She holds a master in "History and New Technologies" from the Ecole Nationale des Chartes.
          <hr/>
          </p>
      </div>
   </div>
    <div class="media container">
      <div class="media-body">
          <h5 class="mt-0">Ljudmila Petkovic</h5>
          <p class="text-justify right-margin">Ljudmila Petkovic est titulaire de deux masters de l'Université de Belgrade : <i>Langue,
              littérature et culture grecque, et Informatique pour les sciences humaines</i>. Actuellement, elle achève son
              <i>Certificat de spécialisation en linguistique</i> (Département de linguistique à l’Université de Genève), et,
              parallèlement, au sein du projet <i>Katabase</i>, elle travaille sur la reconnaissance optique de caractères et
              l'encodage (au format TEI-XML) de catalogues de vente de manuscrits français du XIXe siècle.</p>
          <p class="text-justify font-italic right-margin">
              Ljudmila Petkovic holds two masters from the University of Belgrade: one in the <i>Greek Language,
              Literature and Culture</i>, and the second in <i>Social Sciences and Computing</i>. Currently, she is completing
              her <i>Certificate of specialisation in Linguistics</i> (Department of Linguistics at the University of Geneva),
              and, at the same time, within the <i>Katabase</i> project, she is working on optical character recognition and
              the encoding of the French 19th c. manuscript sales catalogues in the TEI-XML format.
              <hr/>
          </p>
      </div>
      <img src="../static/images/people/ljudmila_petkovic.jpg" class="align-self-start w-25 p-3" alt="Ljudmila Petkovic">
    </div>
    <div class="media container">
        <img src="../static/images/people/alexandre_bartz.png" class="align-self-start w-25 mr-3" alt="Alexandre Bartz">
        <div class="media-body">
            <h5 class="mt-0">Alexandre Bartz</h5>
          <p class="text-justify">
              Alexandre Bartz est diplômé du master <i>Technologies numériques appliquées à l'histoire</i> de l'École
              nationale des chartes (Paris). Depuis avril 2020, il travaille au sein des projets <i>E-ditiones</i> et
              <i>Katabase</i>, d'abord en tant que stagiaire puis collaborateur scientifique, sous la direction de Simon Gabay.
              Au sein de ce dernier projet, il est notamment chargé de l'écriture de scripts ainsi que de la conception de l'application
              permettant la publication des données.
          </p>
          <p class="text-justify font-italic">
             Alexandre Bartz hold a master's degree in Digital Technologies Applied to History from the École nationale des chartes (Paris, France).
             Since April 2020, he has been working on the E-ditiones and  Katabase projects, first as an intern and then as a
             scientific collaborator, under the direction of Simon Gabay. He is in charge of the scripts and application design.
          <hr/>
          </p>
      </div>
   </div>
    <div class="media container">
      <div class="media-body">
          <h5 class="mt-0">Paul Kervegan</h5>
          <p class="text-justify right-margin">
              Paul Kervegan est diplômé de l’École du Louvre et étudiant du master
              <i>Technologies numériques appliquées à l’histoire</i> de l’École nationale des
              chartes. Au sein du projet projet Katabase / MSS, il s'occupe
              notamment de l’exploitation des données, du développement de méthodes de fouille de
              texte et de l’amélioration de l’application web (visualisation des données et mise
              au point d’une charte graphique). Il a également développé KatAPI, une API permettant
              de récupérer automatiquement des données en Json et XML-TEI.
          </p>
          <p class="text-justify right-margin font-italic">
             Paul Kervegan is an École du Louvre alumni and student in Digital technologies
             applied to history at the École nationale des chartes (Paris, France). As a part of
             the Katabase / MSS project, he works on data extraction and exploitation and develops
             methods of text mining; he is also in charge of improving the existing web application
             by creating data visualisations and updating the application’s design. He also
             developped KatAPI, an API to retrieve automatically data from the catalogues
              in JSON and XML-TEI formats.
           <hr/>
          </p>
      </div>
      <img src="../static/images/people/paul_kervegan.jpg" class="align-self-start w-25 mr-3" alt="Paul Kervegan">
    </div>
</div>
{% endblock %}
