{% extends "layout.html" %}
{% block title %} Katabase - Home {% endblock %}
{% block corps %}
<div class="container centre">
    <h1 class="text-center">Katabase</h1>
    <div class="container">
    <p class="lead text-justify">
        This application has been developed as part of the Katabase project. <br/> <br/>
        If you want to access all the sales catalogues that have been encoded, you can click on the <b>
        <a href="{{ url_for('index') }}">Index</a></b>.
        If you want to search a specific author, click on <b>
        <a href="{{ url_for('search') }}">Search</a></b>.
        Learn more about the project and the team by clicking on <b>
        <a href="{{ url_for('about_us') }}">About us</a></b>.
    </p>
    </div>
</div>
{% endblock %}
