{% extends "layout.html" %}
{% block title %} Index {% endblock %}
{% block corps %}
<div class="container">
    <div>
        <div id="idxfig">
            <h1>Index</h1>

            <!-- dropdown button and iframe to show the plots -->
            {% if figpath %}
                <div>
                    <div>
                        <!-- the "idx" class allows the javascript script to know what
                        type of page we are on: index page, catalogue page -->
                        <label for="dwn" class="label">See another graph</label>
                        <select class="btn dropdown idx" id="dwn" name="dwn" aria-expanded="false">
                            <option value="1" class="dropdown-item">Total sales per year</option>
                            <option value="2" class="dropdown-item">Average sale price per catalogue and per year</option>
                            <option value="3" class="dropdown-item">Median sale price per catalogue and per year</option>
                            <option value="4" class="dropdown-item">Average sale price of an item per year</option>
                            <option value="5" class="dropdown-item">Median sale price of an item per year</option>
                            <option value="6" class="dropdown-item">Number of items for sale per year</option>
                            <option value="7" class="dropdown-item">Quantiles per 5 year</option>
                        </select>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if figpath %}
            <div id="fig">
                <iframe id="iframe" src="{{ url_for('fig_grabber', key='IDX_1') }}"></iframe>
                <label for="iframe">To increase readability, some values are not visible. Click on the
                    "autoscale" icon on the graph to see the full figure.</label>
            </div>
        {% endif %}
    </div>

    <p class="lead">Click on a sale catalogue to access it. All encoded sales catalogues are available here.</p>
   <ul class="list-group">

       {% for catalogue in index %}

       <li class="list-group-item">
           <a href="{{ url_for('view', cat_id=catalogue.id) }}">
            {{ catalogue.title }}</a>
           &nbsp;
           <small class="text-muted">
               {% if catalogue.publisher %}
                {{ catalogue.publisher }} - {{ catalogue.date }}
               {% else %}
                {{ catalogue.date }}
               {% endif %}
           </small>
       </li>

        {% endfor %}

    </ul>
</div>
{% endblock %}