{% extends "layout.html" %}
{% block title %} KatAPI - Documentation {% endblock %}
{% block corps %}

<div class="container">
<h1>KatAPI</h1>

<p>
  KatAPI is an API that allows the automated retrieval of data from the project
  in <code>json</code> or <code>xml-tei</code>. It functions as a complete search
  engine that parses the user's query parameters, retrieves the proper data from
  the project's databases and sends it back to the user. The API allows to revtrieve 
  catalogue entries by author, sale date and creation date of the manuscript; it also 
  allows to retrieve a complete catalogue, or statistics on one or several catalogues,
  based on the catalogue type, its identifier or the date of the sale it presents. 
  Finally, it creates custom error messages in <code>json</code> or <code>tei</code> 
  if an error occurs.The API allows, for example,
  to retrieve the description of all manuscripts of the Marquise de Sévigné written
  between 1650 and 1690 and sold between 1880 and 1900 in a complete and valid TEI
  format.
</p>

<p>
  The API follows the REST principles where possible, especially by using a
  stateless architecture with a uniform interface and self descriptives responses.
</p>

<hr/>

<h2>Quick start</h2>
    
<hr>    

<p>The endpoint for the API is <a target="https://katabase.huma-num.fr/katapi?">
        <code>https://katabase.huma-num.fr/katapi?</code></a>. The arguments provided by 
    the client are added after this endpoint; the application will process
    those arguments and send back a response in the requested format (
    <code>json</code> or <code>xml-tei</code>, the default being <code>json</code>). If there is an 
    error on the client side (unauthorized parameters or values) or on the server side 
    (unexpected error), a response will be issued in <code>json</code> or 
    <code>xml-tei</code> (depending on the client's request) describing the
    query parameters, the time of the query and the error that occured.</p>

<p>The search for a <code>name</code> is case- and accents-insensitive.</p>

<hr/>

<h2>Try it out !</h2>

<p>
    To try out the KatAPI, just write a JSON-type string in the text box and click <code>Search</code>.
    As a reminder, a JSON string is contained within curly brackets (<code>{}</code>) and
    is a series of comma-separated <code>"key": "value"</code> couples. Each key or
    value must be enclosed within double or single quotes (<code>"", ''</code>)!
    A request can take several seconds to be processed, be patient!
</p>

<div class="flex-in">
    <input type="text" id="apiUrl" value='{"name": "sevigne", "level": "item"}'/>
    <button type="submit" id="sendApi" class="btn btn-outline-danger" onclick="launchRequest();">Search</button>
</div>

    <pre>
        <code id="apiOut">Awaiting for a request...</code>
    </pre>

<hr/>

<h2>Methods and parameters</h2>
    
<hr/>

<h3>HTTP methods</h3>

<p>The only authorized HTTP method is <code>GET</code>.</p>

<h3>Allowed parameters</h3>

<p>The possible parameters are:</p>
<ul>
    <li><strong><code>format</code></strong>: the format of the API's response body. Possible values are:
        <ul>
            <li><code>json</code>: this is the default value.</li>
            <li><code>tei</code>: return an <code>xml-tei</code> response.</li>
        </ul>
    </li>    
    <li><strong><code>level</code></strong>: the requested data's level. Possible values are:
        <ul>    
            <li><code>item</code>: data is retrieved at item level. This is the default value.</li>
            <li><code>cat_data</code>: statistical data on one or several catalogues will be retrieved.
            This value is incompatible with the <code>orig_date</code> parameter.</li>
            <li>
                <code>cat_full</code>: a complete catalogue encoded in <code>xml-tei</code> will be retrieved. 
                If this value is provided, then the only other authorized parameters are 
                <code>format=tei</code> and <code>id</code> (with <code>id</code> matching <code>CAT-\d+</code>).
            </li>
        </ul>
    </li>
    <li><strong><code>id</code></strong>: the identifier of the item or catalogue(s) to retrieve
      (depending on the value of <code>level</code>). If this parameter is provided, data will only
      be retrieved for a single catalogue or catalogue entry. This parameter cannot be used
      together with the <code>name</code> parameter. Possible values are:
        <ul>
            <li>if the query is at item level, a catalogue entry's <code>@xml:id</code>. This identifier
              is a string that matches the pattern: <code>CAT_\d+_e\d+_d\d+</code>.</li>
            <li>the query is run at catalogue level (<code>level=cat_full</code> or <code>level=cat_data</code>), a
              catalogue's <code>@xml:id</code>. This identifier is a string that matches the pattern:
              <code>CAT_\d+</code>.</li>
        </ul>    
    </li>
    <li><strong><code>name</code></strong>: if the <code>id</code> parameter is not supplied, the name of the catalogue(s) or
      catalogue entry(ies) to retrieve. Note that this parameter can, and will, return
      several items. This parameter is <strong>case-insensitive and doesn't take punctuation or accented letters into account</strong>.
      Possible values are:
        <ul>
            <li>if <code>level=item</code>, the <code>tei:name</code> being queried. Only the last name in
              the <code>tei:name</code> is indexed in the search engine and only this one will yield a
              result. If a first name and a last name are provided, no result can be yield, 
              since the first name is not indexed.</li>
            <li>if <code>level=cat_stat</code>, the catalogue type (to be found in
              <code>(TEI//sourceDesc/bibl/@ana</code> in the <code>xml</code> representation of a catalogue).
              Possible values are:
                <ul>
                    <li> <code>LAD</code>: Lettres autographes et documents historiques,</li>
                    <li> <code>RDA</code>: Revue des Autographes, des curiosités de l'histoire et de la biographie,</li>
                    <li> <code>LAV</code>: Catalogue Laveredet,</li>
                    <li> <code>AUC</code>: Auction sale</li>
                    <li> <code>OTH</code>: Other</li>
                </ul>    
            </li>
        </ul>
    </li>
    <li><strong><code>sell_date</code></strong>: the sale date for a manuscript or a catalogue. Values must match
      the regular expression <code>\d{4}(-\d{4})?</code>: a year in <code>YYYY</code> format or a year range in
      <code>YYYY-YYYY</code> foramat.
    </li>
    <li><strong><code>orig_date</code></strong>: the date a manuscript item was created. This parameter is only
      authorized if <code>level=item</code>. Values must match  the regular expression <code>\d{4}(-\d{4})?</code>:
      a year in <code>YYYY</code> format or a year range in <code>YYYY-YYYY</code> format.
    </li>
</ul>

<hr/>

<h2>Responses and return formats</h2>
    
<hr/>    

<h3>HTTP status codes and response mimetypes</h3>

<p>
    HTTP status codes describe a client-server interaction and the response issued by the server.
    For example, if all went well, the status code will be contained in the 200-299 range; a 404
    status code indicates that the resource requested by the client does not exist. As such, they
    can help a client programme determine the kind of response received: is it an error; if so,
    what kind of error happened? Three HTTP status codes have been defined for the response objects
    returned by the KatAPI. These depend on the user's input and on the server's response.
    They are present in the HTTP headers, but also in the response body's header (see below).
</p>

<p>
    Because we belive in the powers of communication and that an informative response is better
    than a lack no response at all, complete error logs are provided when an error occurs (be it
    a client-related or server-related error). The error log is issued in <code>xml-tei</code> or
    <code>json</code>, depending on the format requested by the user. If the error is on the
    user's end (422 status code), it contains a description of what they did wrong.
</p>
<p>
    <strong>WARNING</strong>: this means that, if you wrote a script to retrieve data from the API,
    you need to check the status code (present in the HTTP headers, but also in the response itself):
    since the response is always a syntaxically valid <code>json</code> or <code>xml-tei</code>
    file, your script will probably not throw an error. In turn, you must explicitly ask for the
    script to read the status code, either in the HTTP header or in the response body. 
	The upside is that will always have a descriptive response from the server.
</p>

<ul>
    <li><code>200</code>: everything went well and the response contains the data that matched the
    user's query in the format they requested.</li>
    <li><code>422</code>: the user's input is invalid semantically: the query is not wrong in itself,
    but either unallowed values or incompatible parameters were provided by the user.</li>
    <li><code>500</code>: an unexpected error has happened on the server side and a valid response
        cannot be retrieved. In this case, you can <a href="https://github.com/katabase/Application/">
            open an issue</a> to help us figure out what happened.
    </li>
</ul>

<h3>Return formats in general</h3>
<p>
  The defining parameter for the API is the <code>level</code>: this parameter defines which other
  parameters can or cannot be used; it also determines the structure of the output format. Thus, the
  presentation of return formats below follows the different values of <code>level</code>.
</p>
<p>
	Every response is composed of HTTP headers and of response itself (a <code>json</code> or <code>xml-tei</code>
	file). This file is composed of a header, describing the query context and the response
	and of a body, containing the results themselves. If needed, an encoding description is added to
    the file's header to describe the project-specific vocabulary used in the response. Thus, the return 
    format with all <code>level</code> is always roughly the same (although with <code>level=cat_full</code>, 
    the body's header is much bigger.
</p>
<p>
    In <code>xml-tei</code>,
    the header is enclosed in the <code>teiHeader</code> tag; in a <code>json</code> response, this
    header is mapped to the <code>head</code> key. This header contains descriptive information
    about the query: the requested parameters (and additional default parameters), the query date and
    the status code. In <code>tei</code>, this information is included inside the
    <code>teiHeader//publicationStmt</code>. If <code>level=cat_full</code>, they are in a
    <code>note</code> inside the publication statement; with other levels, the descriptive information
    about the query takes up the entire publication statement. The response's head also contains an
    <code>encoding_desc</code> which translates prefixes and project-specific vocabularies in a
    human-readable manner.This allows the response issued by the API to
    always be self-descriptive. The results in themselves are contained inside the <code>body</code>
    of a <code>xml-tei</code> response. In a <code>json</code> response, the results are
    mapped to the <code>results</code> key.
</p>

<h3>At <code>cat_full</code> level</h3>
<p>
    In this case, a complete catalogue encoded in <code>xml-tei</code> will be returned. It is
    the same as <a href="https://github.com/katabase/Application/blob/main/APP/data/CAT_000148.xml">
    any catalogue of the project</a>, except that a <code>tei:note</code> has been added to the
    <code>TEI//sourceDesc/publicationStmt</code> in order to describe the context in which
    the file was retrieved: the query parameters, the date and time of the query and the HTTP
    status code of the response are added to the file. The response will look something like:
</p>
    <div class="codeblock">
        <pre>
            <code>{{ examples["api_cat_full_xml"] }}</code>
        </pre>
    </div>

<h3>At <code>cat_stat</code> level</h3>

<p>The results are contained in the
body of the response object returned by the API. They are organised by catalogue,
with each catalogue being identified by its <code>@xml:id</code>. Each catalogue
is mapped to data. the meaning of the this data is specified by the following keys:</p>

<ul>
    <li><code>sell_date</code>: the year of the sale presented in the catalogue.</li>
    <li><code>title</code>: the title of the catalogue, and, by extension, of the sale.</li>
	<li><code>cat_type</code>: the type of catalogue. See the authorized values of the
    name parameter for <code>level=cat_stat</code> for more information.</li>
	<li><code>currency</code>: the currency of the prices returned. <code>FRF</code>
	corresponds to french francs.</li>
	<li><code>high_price_c</code>: the most expensive items in the catalogue, in constant
	1900 francs. In the whole API, the <code>_c</code> suffix indicates that a price is
	expressed in constant 1900 francs.</li>
	<li><code>high_price_items_c</code>: the most expensive items in the catalogue. Each item's 
	<code>@xml:id</code> is associated to its price, in constant francs.</li>
	<li><code>item_count</code>: the number of manuscripts for sale in the catalogue.</li>
	<li><code>low_price_c</code>: the least expensive item's price, in constant 1900 francs.</li>
	<li><code>mean_price_c</code>: the average price for a catalogue item, in constant 1900 francs.</li>
	<li><code>median_price_c</code>: the median price for a catalogue item, in constant francs.</li>
	<li><code>mode_price_c</code>: the mode price (the price that appears the most often in a catalogue) 
	for an item, in constant francs.</li>
	<li><code>total_price_c</code>: the sum of each item's price, in constant francs</li>
	<li><code>variance_price_c</code>: the variance of the prices inside the catalogue.</li>
</ul>

<p>In this case, two response formats are possible: <code>json</code> and <code>xml-tei</code>.
    The <code>json</code> response looks like this:
</p>
    <div class="codeblock">
        <pre>
            <code>{{ examples["api_cat_stat_json"] }}</code>
        </pre>
    </div>

<p>The <code>xml</code> response is similar, but uses <code>tei</code> elements and
    includes a more complete <code>teiHeader</code>.</p>

    <div class="codeblock">
        <pre>
            <code>{{ examples["api_cat_stat_xml"] }}</code>
        </pre>
    </div>

<h3>At <code>item</code> level</h3>

<p>The response is ordered by catalogue entries.
Each entry, identified by its <code>@xml:id</code>, is mapped to information about that entry. The meaning
of this data is presented below:</p>

<ul>
	<li><code>author</code>: the manuscript's author.</li>
	<li><code>date</code>: the date a manuscript was created.</li>
	<li><code>sell_date</code>: the date of a manuscript's sale, as indicated by the catalogue.</li>
	<li><code>desc</code>: the way a manuscript is described in the sales catalogues.</li>
	<li><code>number_of_pages</code>: the number of pages inside a manuscript.</li>
	<li><code>price</code>: the price of a manuscript, in current francs.</li>
	<li><code>format</code>: the format of the manuscript (in-quatro...) in a normalized format.
    The meaning of the format codes can be found <a href="https://github.com/katabase/2_CleanedData/blob/main/script/tables/conversion_tables.py">
	here</a> (see the <code>format_types</code> dictionnary). It can also be found in the <code>teiHeader</code>
    of a complete catalogue.</li>
	<li><code>term</code>: the way a manuscript is described (Pièce authographe signée...) in a normalized
	format. The meaning of the format codes can be found
	<a href="https://github.com/katabase/2_CleanedData/blob/main/script/tables/conversion_tables.py">
    here</a> (see the <code>term_types</code> dictionnary). It can also be found in the <code>teiHeader</code>
	of a complete catalogue.</li>
</ul>

<p>Here's what a <code>json</code> response looks like:</p>

    <div class="codeblock">
        <pre>
            <code>{{ examples["api_item_json"] }}</code>
        </pre>
    </div>

<p>The <code>xml-tei</code> response looks like this:</p>

    <div class="codeblock">
        <pre>
            <code>{{ examples["api_item_xml"] }}</code>
        </pre>
    </div>

<h3>Error message formats</h3>

<p>In both <code>xml</code> and <code>json</code> formats, a complete error log is contained in the response's
body (<code>results</code> key in the <code>json</code>, <code>body</code> tag in the <code>xml</code>), while the status
code is in the header (<code>head</code> key in the <code>json</code>, <code>teiHeader</code> tag in the <code>xml</code>).
A <code>json</code> error response will look like this:
</p>
    <div class="codeblock">
        <pre>
            <code>{{ examples["api_error_json"] }}</code>
        </pre>
    </div>

<p>An <code>xml-tei</code> response will look similar to this:</p>

    <div class="codeblock">
        <pre>
            <code>{{ examples["api_error_xml"] }}</code>
        </pre>
    </div>

<hr/>

<h2>Examples</h2>
    
<hr/>    

<p>To get started, here are some URL examples and their meaning:</p>
<ul>
<li><a href="{{ url_for('katapi', level='item', name='Sévigné', sell_date='1800-1900', orig_date='1500-1800', format='json') }}">
    <code>https://katabase.huma-num.fr/katapi?level=item&name=s%C3%A9vign%C3%A9&sell_date=1800-1900&orig_date=1500-1800&format=json</code>
    </a>: all catalogue items whose author is <code>Sévigné</code>, sold between 1800 and 1900 and
  written between 1500 and 1800, in <code>json</code>.</li>
<li><a href="{{ url_for('katapi', level='item', id='CAT_000204_e108_d1', format='tei') }}">
    <code>https://katabase.huma-num.fr/katapi?level=item&id=CAT_000204_e108_d1&format=tei</code></a>:
  the catalogue item with an <code>@xml:id</code> corresponding to <code>CAT_000204_e108</code>, 
    in <code>tei</code>.</li>
<li><a href="{{ url_for('katapi', level='cat_stat', name='RDA', format='json') }}">
    <code>https://katabase.huma-num.fr/katapi?level=cat_stat&name=RDA&format=json</code></a>:
    statistics about all <code>RDA</code> catalogues in <code>json</code></li>
<li><a href="{{ url_for('katapi', level='cat_stat', name='RDA', sell_date='1800-1900', format='json') }}">
    <code>https://katabase.huma-num.fr/katapi?level=cat_stat&name=RDA&sell_date=1800-1900&format=json</code></a>:
  statistics about all <code>RDA</code> catalogues sold between 1800 and 1900 in <code>json</code>.</li>
</ul>

</div>
{% endblock %}
