{% extends "layout.html" %}
{% block title %} Publications {% endblock %}
{% block corps %}

<div class="container centre">
    <h1>Publications</h1>
    <p class="lead">You can find here the publications related to the Katabase project.</p>

    <ul>
        <li>
            Simon Gabay, Lucie Rondeau Du Noyer, Matthias Gille Levenson, Ljudmila Petkovic, Alexandre Bartz.
            Quantifying the Unknown: How many manuscripts of the marquise de Sévigné still exist?.
            Digital Humanities DH2020, ADHO, Jul 2020, Ottawa, Canada.
            <a target="_blank" href="https://hal.archives-ouvertes.fr/hal-02898929">⟨hal-02898929⟩</a>
        </li>
        <br/>
        <li>
            Mohamed Khemakhem, Simon Gabay, Béatrice Joyeux-Prunel, Laurent Romary, Léa Saint-Raymond, et Lucie Rondeau Du Noyer.
            Information Extraction Workflow for Digitised Entry-based Documents. DARIAH Annual event 2020, May 2020, Zagreb / Virtual, Croatia.
            <a target="_blank" href="https://hal.archives-ouvertes.fr/hal-02508549">⟨hal-02508549⟩</a>
        </li>
        <br/>
        <li>
            Simon Gabay, Lucie Rondeau Du Noyer, Mohamed Khemakhem.
            Selling autograph manuscripts in 19th c. Paris: digitising the Revue des Autographes.
            IX Convegno AIUCD, AIUCD, Jan 2020, Milan, Italy.
            <a target="_blank" href="https://hal.archives-ouvertes.fr/hal-02388407">⟨hal-02388407⟩</a>
        </li>
        <br/>
        <li>
            Lucie Rondeau Du Noyer, Simon Gabay, Mohamed Khemakhem, Laurent Romary.
            Scaling up Automatic Structuring of Manuscript Sales Catalogues.
            TEI 2019: What is text, really? TEI and beyond, Sep 2019, Graz, Austria.
            <a target="_blank" href="https://hal.archives-ouvertes.fr/hal-02272962">⟨hal-02272962⟩</a>
        </li>
        <br/>
        <li>
            Mohamed Khemakhem, Laurent Romary, Simon Gabay, Hervé Bohbot, Francesca Frontini, et Giancarlo Luxardo.
            Automatically Encoding Encyclopedic-like Resources in TEI.
            The annual TEI Conference and Members Meeting, Sep 2018, Tokyo, Japan.
            <a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01819505">⟨hal-01819505⟩</a>
        </li>
        <br/>
        <li>
            Simon Gabay, Mohamed Khemakhem, Laurent Romary. Les catalogues et GROBID. Doctorat.
            Du catalogue aux humanités numériques : quelles méthodes pour quels résultats ?, Paris, France. 2018.
            <a target="_blank" href="https://hal.archives-ouvertes.fr/cel-01951107">⟨cel-01951107⟩</a>
        </li>
    </ul>

</div>

{% endblock %}